<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    script(type="text/javascript" src="smartedit/dist/js/service/HuskyEZCreator.js" charset="utf-8")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript" src="js/address.js")
    script(type="text/javascript" src="js/send.js")
    script(type="text/javascript" src="js/bundle.js")
    link(rel="stylesheet" type="text/css" href="css/test.css")

  body
    div.mInfo
      .loading
        .loading-dot
        .loading-dot
        .loading-dot
        .loading-dot
